<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">&nbsp;</div>
        <div class="col-md-7 text-light text-left">
            <h1 class="intro">Hey Kids! <br />tell us your day today! :)</h1>
        </div>
    </div>
</div> 


<div class="container-fluid">
    <div class="row" *ngIf="AllStories">
            <div class="col-md-5">&nbsp;</div>
            <div class="col-md-7">
                    <p *ngIf="userLog.usernameLog" ><input type="text" [(ngModel)]="searchStory" class="form-control searchform" placeholder="Search all stories"></p>
                    <pagination-controls   (pageChange)="p = $event"></pagination-controls>  
                    <div class="alert alert-light background-transparent nobroder" role="alert"  *ngFor="let story of AllStories | filter:searchStory | paginate: { itemsPerPage: 12, currentPage: p }" >
                           
                            <svg style="display:none">
                                <style>
                                    @import url('{{story.googleFont.importUrl}}');
                                </style>
                            </svg>
                              
                            <div class="thisgooglefont" style='{{story.googleFont.importName}} ' > 
                                
                                <h3  >{{story.title}}</h3>
                                <div   *ngIf="!userLog.usernameLog" [innerHTML]="story.myStory.slice(0, 85) + '...'"></div>
                                <p  ><a  routerLink="/login" *ngIf="!userLog.usernameLog">Read more</a></p>
                                <div  *ngIf="userLog.usernameLog" [innerHTML]="story.myStory"></div>
                            </div>
                           
                            <p><small>Author: {{story.applicationUser.fullName}}  <br /> Date Created: {{story.dateCreated | date:'medium'}} </small></p>
                            
                            <p class="loved" *ngIf="userLog.usernameLog" >
                                <span class="loveme">
                                <i class="fa fa-heart" *ngIf="!story.lovedDone" (click)="LoveThisStory($event, userLog.useridLog, story.id)" ></i> 
                                 <i class="fa fa-heart active" *ngIf="story.lovedDone" (click)="UnLoveThisStory($event, userLog.useridLog, story.id)"></i>
                                </span>
                                
                                <small *ngIf="story.loves.length > 0" (click)="GetAllLoved(story.loves)" data-toggle="modal" data-target="#lovedModal">{{story.loves.length}} loved this</small>
                            </p>
                    </div>  
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>  
    
            </div>
           
     </div>
        
</div>
    
<!-- Modal -->
<div class="modal fade" id="lovedModal" tabindex="-1" role="dialog" aria-labelledby="lovedModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        
        <div class="modal-body">
           <small>The following kids loved this story:</small>
            <ul class="list-loved">
                <li *ngFor="let sl of storyLoved"><i class="fa fa-heart text-danger"></i> {{sl.applicationUser.userName}}</li>
            </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>