 



<div class="container">
    <div class="row"  >
            <div class="col-md-4">&nbsp;</div>
            <div class="col-md-8 background-transparent">
                <h1 class="intro margin-top">About Us</h1>
                     <p>Kiwi Kids Stories is a non  profit organization. The purpose of this app is for those children will learn on how to create their own stories or imagination with parents guidance.  </p>
                     <p>The developer, Jeoffy Hipolito is using this app to check his children's ability and for them to enhance their creativity of doing such thing.</p>
                     <p>Parents can teach their kids on how to create sentence, paragraph and the basic punctuation.</p>
                     
                     <h4>Kids can:</h4>
                     <ul>
                         <li>Register and login</li>
                         <li>Create their story</li>
                         <li>Update their story</li> 
                         <li>Select font style for each of their story</li>
                         <li>View other kids stories</li>
                         <li>Click Love icon to each story they loved.</li>
                         <li>Create a background colour (soon...)</li>
                         <li>Delete their story (soon)</li>
                     </ul>
                     
            </div>
           
     </div>
        
</div>