 
 <div class="container-fluid">
     <div class="row">
         <div class="col-md-12 text-center">
            <span class="btn  margin-left  btn-dark btn-sm"   (click)="toggleEditor()">Create your beautiful story now <i [ngClass]="showEditor == true? 'fa-minus' : 'fa-plus' " class="fa  "></i> </span>
         </div>
     </div>
 </div>
<div class="container margin-top">
    <div class="row">
        <div class="col-md-3" *ngIf="showEditor == false">&nbsp;</div>
        <div class="col-md-6">
           

            <div class="alert alert-light background-transparent-light nobroder"  *ngFor="let story of myStories">
                <h1 >{{story.title}}</h1>
                <div [innerHTML]="story.myStory"></div>
            </div>


        </div>
        <div class="col-md-3" *ngIf="showEditor == false">&nbsp;</div>
        <div class="col-md-6" *ngIf="showEditor == true">
            <div class="padding background-transparent">
                ********************** Form Editor here  ********************** 
            </div>
        </div>
    </div>
    
</div>
