 
 
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand logo"  routerLink="/">Kiwi Kids Stories</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li [routerLinkActive]="'is-active'" [routerLinkActiveOptions]="{ exact: true }" class="nav-item ">
        <a class="nav-link" routerLink="/">Home </a>
      </li> 
      <li [routerLinkActive]="'is-active'" class="nav-item">
        <a class="nav-link" routerLink="/about-us"  >About us</a>
      </li>
      <li [routerLinkActive]="'is-active'" class="nav-item">
        <a class="nav-link" routerLink="/login" *ngIf="!userLog.usernameLog">Login</a>
      </li>  
      <li [routerLinkActive]="'is-active'" class="nav-item">
        <a class="nav-link" routerLink="/register" *ngIf="!userLog.usernameLog" >Register</a>
      </li> 
      <li [routerLinkActive]="'is-active'" class="nav-item">
        <a class="nav-link" routerLink="/my-stories" *ngIf="userLog.usernameLog">My Stories</a>
      </li>
     
     
       
    </ul> 
     
    <span class="text-light form-inline my-2 my-lg-0" *ngIf="userLog.usernameLog">
       <span>Hi cutie {{userLog.usernameLog}}! </span> &nbsp; |  &nbsp;  <a class="text-light"  href="#" (click)="loginservice.Logout()" *ngIf="userLog.usernameLog"> Logout </a>
    </span>
  </div>
</nav>
<!--<h2 *ngIf="loginservice.thisUsername">{{loginservice.thisUsername}} / >{{loginservice.thisUsernameId}}</h2>-->

<div class="body-wrapper" [ngClass]="router.url === '/about-us'? 'about' : '' || router.url === '/my-stories'? 'stories': ''  || router.url === '/login'? 'login': '' || router.url === '/register'? 'register': ''">
    <router-outlet></router-outlet>
</div>
