/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&family=Thasadith:wght@700&family=Ultra&display=swap');
body{
    font-family: 'Shippori Mincho B1', serif;
    color:#43474c !important;
    background-color: #EDD8C4 !important;
  
    background: url("assets/background.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.logo{
    font-family: 'Thasadith', sans-serif;
    color: #fff!important;
}
.intro{
    font-family: 'Ultra', serif;
}
.navbar.bg-light{
    background-color: #CA5948 !important;
}
 
.navbar-light .navbar-nav a{
    color:rgb(255, 191, 190) !important;
} 

.navbar-nav li.is-active a{
    color: #fff !important;
}
.body-wrapper{
    padding: 6% 0px;
}
.btn.btn-primary{
    background-color: #CA5948 !important;
    border-color: #CA5948 !important;
}
.nobroder{
    border: 0px !important;
}
.padding{
    padding: 20px;
  
}
.background-transparent{
    background-color: rgba(255, 255, 255, 0.5) !important; 
}
.background-transparent-light{
    background-color: rgba(255, 255, 255, 0.8) !important; 
}
.margin-left {
    margin-left: 10px;
}
.margin-top{
    margin-top: 20px;
}
