/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&family=Thasadith:wght@700&family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight&display=swap');
body{
    font-family: 'Shippori Mincho B1', serif;
    color:#37393b !important;
    background-color: #EDD8C4 !important;
  
    background: url("assets/main.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
a{
    color:#CA5948 !important;
}
.logo{
    font-family: 'Zilla Slab Highlight', cursive;
    color: #fff!important;
    font-size: 1.4rem   !important;
}
.intro{
    font-family: 'Ultra', serif;
}
.navbar.bg-light{
    background-color: #CA5948 !important;
}
 
.navbar-light .navbar-nav a{
    color:rgb(255, 191, 190) !important;
} 

.navbar-nav li.is-active a{
    color: #fff !important;
}
.body-wrapper{
    padding: 6% 0px;
}
.btn.btn-primary{
    background-color: #CA5948 !important;
    border-color: #CA5948 !important;
}
.nobroder{
    border: 0px !important;
}
.padding{
    padding: 20px;
  
}
.background-transparent{
    background-color: rgba(255, 255, 255, 0.9) !important; 
}
.background-transparent-light{
    background-color: rgba(255, 255, 255, 0.9) !important; 
}
.margin-left {
    margin-left: 10px;
}
.margin-top{
    margin-top: 20px;
}
.angular-editor-toolbar-set #strikeThrough-, 
.angular-editor-toolbar-set #subscript-,
.angular-editor-toolbar-set #superscript-,
.angular-editor-toolbar-set #justifyLeft-,
.angular-editor-toolbar-set #justifyCenter-,
.angular-editor-toolbar-set #justifyRight-,
.angular-editor-toolbar-set #justifyFull-,
.angular-editor-toolbar-set #indent-,
.angular-editor-toolbar-set #outdent-,

.angular-editor-toolbar-set .select-font,
.angular-editor-toolbar-set #backgroundColorPicker-,
.angular-editor-toolbar-set #link-,
.angular-editor-toolbar-set #unlink-,
.angular-editor-toolbar-set #insertImage-,
.angular-editor-toolbar-set #insertVideo-,
.angular-editor-toolbar-set #clearFormatting-,
.angular-editor-toolbar-set #insertHorizontalRule-,
.angular-editor-toolbar-set #toggleEditorMode-
{
    display:none !important;
}
.angular-editor{
    background-color: #fff;
}
.ngx-pagination{
    margin:0px;
    padding:0px;
}
.ngx-pagination .disabled {
   display: none;
}

.ngx-pagination .current { 
    background:#CA5948 !important; 
}
.displaynone{
    display: none;
}
.angular-editor-textarea{
    min-height: 300px !important; 
}
.searchform{ 
    border: 1px solid #979797  !important; 
}
.loveme{
    position: relative;
    top:10%;
    cursor: pointer;
    
}
.loveme i{
    color: #37393b;
    font-size: 20px;
}
.loved small{
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}
.loveme i.hide{
    opacity: 0; 
    display: none;
}
.loveme i.active{
    color: #CA5948; 
}
ul.list-loved{
    padding: 0px;
    margin: 0px;
}
ul.list-loved li{
    list-style-type: none;
    padding: 0px;

}
.edit-my-story{
    position: absolute;
    right:-5px;
    top: -5px;
    
    padding:5px 10px 3px;
    cursor: pointer;
    border-radius: 35%;
    background-color: #CA5948;
}
.edit-my-story i{
    font-size: 18px;
    color: #fff;
}

#editStoryModal .modal-dialog {
    max-width: 800px; 
}
.cursorpoint{
    cursor: pointer;
}

.body-wrapper.about{
     
    background: url("assets/about.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}
.margin-bottom{
    margin-bottom: 20px;
}
.padding-bottom{
    padding-bottom: 20px;
}
.body-wrapper.stories{
     
    background: url("assets/write.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}
.body-wrapper.login, .body-wrapper.register{
    min-height: 680px;
    height: 100vh;
    background: url("assets/login-register.jpg") no-repeat center center fixed; 
    
}
 
.body-wrapper.login, .body-wrapper.register{
      
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}